@import 'src/styles/variable';

.chat_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border: 1px solid $grey;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 56px;
		background-color: $additional-color;
		color: #ffff;
		border-bottom: 1px solid $grey;

		.back {
			display: flex;
			margin-right: 15px;
			text-decoration: none;
			color: #ffffff;
		}
	}

	.chat_area {
		height: auto;
		margin-top: auto;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 0;
		}
	}
}

@media (max-width: 576px) {
	.chat_block {
		position: absolute;
		height: 100%;
		background-color: $additional-color;

		.header {
			.back {
				display: flex;
				margin-right: 15px;
			}
		}
	}
}
