@import 'src/styles/variable';

.chat_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border: 1px solid $grey;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 56px;
		background-color: $additional-color;
		color: #ffff;
		border-bottom: 1px solid $grey;
	}

	.chat_area {
		height: 100%;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 1px;
		}
	}

	.chat_text_send {
		display: flex;
		align-items: center;
		border: 1px solid $grey;
		height: 40px;

		textarea {
			width: 100%;
			height: 40px;
			resize: none;
			outline: none;
			background-color: transparent;
			color: #ffff;
			font-size: 20px;
			border: none;
			overflow: hidden;
		}

		.send_icon {
			color: $backgroundColor;
			cursor: pointer;
		}
	}
}
