@import 'src/styles/variable';

.chat_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border: 1px solid $grey;

	.header {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 56px;
		background-color: $additional-color;
		color: #ffff;
		border-bottom: 1px solid $grey;
	}

	.chat_area {
		height: 100%;
		overflow-y: auto;

		&::-webkit-scrollbar {
			width: 0;
		}
	}
}
