@import 'src/styles/variable.scss';

.input {
	width: 100%;
	height: 50px;
	padding: 15px;
	outline: none;
	background: #ffff;
	border: 1px solid #c9cacc;
	border-radius: 4px;
	margin-top: 7px;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	color: $additional-color;
}
.label {
	color: #ffff;
	font-size: 16px;
	font-style: normal;
	line-height: 19px;
}
.errorInput {
	border: 1px solid red;
}
.error {
	position: absolute;
	color: red;
	margin-top: 7px;
}
