@import 'src/styles/variable';

.mySelect_block {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 25px;
	position: relative;

	.selects {
		display: flex;
		max-width: 300px;
		.select {
			padding: 10px;
			cursor: pointer;
			opacity: 0.1;
			transition: opacity ease-out 0.3s ;
			&.active {
				opacity: 1;
			}
		}
	}
	&__border {
		position: absolute;
		margin-left: 9px;
		top: 45px;
		width: 80px;
		border-bottom: 3px solid $message-color-sender;
		transition: left ease-out 0.3s ;
	}
}
