@import 'variable';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Itim', cursive;
}

body {
	background-color: $backgroundColor;
}
.content {
	margin: 0 auto;
	max-width: 1200px;
}
.app__content {
	display: flex;
	flex-direction: row;
	background-color: $additional-color;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	margin-top: 70px;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
	color: #ffff;
}

h2 {
	font-weight: 300;
	font-size: 17px;
	line-height: 22px;
	color: #ffff;
}
