@import 'variable';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $backgroundColor;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	text-align: center;
	color: #ffff;
}

h2 {
	font-weight: 300;
	font-size: 17px;
	line-height: 22px;
	color: #ffff;
}
