@import 'src/styles/variable';

.myToggle_block {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 25px;
	position: relative;

	.toggle {
		display: flex;
		justify-content: space-evenly;
		max-width: 300px;

		.toggle_el {
			cursor: pointer;
			opacity: 0.1;
			transition: opacity ease-out 0.3s;
			min-width: 100px;

			&.active {
				opacity: 1;
			}
		}
	}

	&__border {
		position: absolute;
		top: 33px;
		border-bottom: 2px solid $message-color-recipient;
		transition: left ease-out 0.3s;
	}
}
