@import '../../../styles/variable';

.message_input_field {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $grey;
	min-height: 50px;
	max-height: 210px;
	font-size: 24px;

	textarea {
		width: 100%;
		min-height: 40px;
		max-height: 200px;
		resize: none;
		outline: none;
		background-color: transparent;
		color: #ffff;
		font-size: 20px;
		word-wrap: break-word;
		border: 0;
		overflow-y: auto;
		overflow-x: hidden;
		line-height: 17px;

		&::-webkit-scrollbar {
			width: 0;
		}
	}

	.btn_submit {
		background-color: transparent;
		border: 0;

		.send_icon {
			color: $message-color-recipient;
			cursor: pointer;
		}
	}
}
