@import 'src/styles/variable';

.dialogs_block {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
	width: 300px;
	height: 100%;
	background-color: $additional-color;

	.header {
		display: flex;
		align-items: center;
		height: 60px;
		cursor: pointer;
		text-decoration: none;

		.header_text {
			text-align: start;
			margin-left: 10px;
		}
	}

	.dialogs {
		height: 100%;
		overflow-y: scroll;

		&::-webkit-scrollbar {
			width: 1px;
		}

		.dialog {
			display: flex;
			align-items: center;
			cursor: pointer;
			width: 100%;
			padding: 7px 0 7px 5px;

			text-decoration: none;

			.dialog_avatar {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 1px solid #ffff;
				color: #ffff;
			}

			.dialog_info {
				margin-left: 15px;

				.dialog_name {
					display: flex;
					align-items: center;
					font-size: 1rem;
					color: #ffff;
				}

				.dialog_last_message {
					color: $grey;
				}
			}

			&.active {
				background-color: $active-color;
			}
		}
	}
}

@media (max-width: 992px) {
	.dialogs_block {
		width: 250px;

		.dialogs {
			.dialog {
				padding: 10px 0;

				.dialog_avatar {
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.dialogs_block {
		width: 250px;
	}
}

@media (max-width: 576px) {
	.dialogs_block {
		min-width: 100%;
		position: absolute;
		z-index: 2;

		.dialogs {
			.dialog {
				padding: 10px 0;

				.dialog_avatar {
					width: 50px;
					height: 50px;
				}
			}
		}
	}
}
